<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../static/css/style2.css">
<link rel="stylesheet" href="../static/css/style1.css">
  <title>ChilliPeppers</title> 
  <body class="body">
<style>
.body{
	background-color: black;
}
.center{
	align:center;
	vertical-align: middle;
	margin-left: 42%;
	margin-top: 240px;
}
</style>
<img src="../static/images/chilli.png" style="margin-top:-150px;width:120px;height:100px;position:absolute;margin-left:43%">

	<div class="center"style="width:750px;height:250px;">
      <div class="w3-col m6">
        <form action="/" method="POST">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="username" placeholder="Username" name="username">
            </div>
            <br>
            <br>
            <div class="w3-half">
              <input class="w3-input w3-border" type="password" placeholder="Password" name="Password">
            </div>
          </div class="center">
          <button class="w3-button w3-white w3-section w3-right" type="submit">Sign in</button>
        </form>

        <div>
        	<a href="/register"><button class="w3-button w3-white w3-section w3-right" type="submit">Register</button></a>
        </form>
        </div>
      </div>
    </div>
</body>
<!-- TODO: implement home page. -->

</html>