<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../static/css/style2.css">
<link rel="stylesheet" href="../static/css/style1.css">

  <title>ChilliPeppers</title> 

  

<!-- TODO: add more links on the navigation bar here -->
 </head>
<body class="body">
<div class="w3-top">
  <div class="w3-bar w3-black w3-card-2">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="/home" class="w3-bar-item w3-button w3-padding-large w3-hover-red">HOME</a>
    <a href="/list" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-red">LIST</a>
<!--     <a href="#tour" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TOUR</a> -->
    <a href="/feed" class="w3-bar-item w3-button w3-padding-large w3-hide-small w3-hover-red">FEED</a>
    <div class="w3-dropdown-hover w3-hide-small">
    	<a href="/wecode">
      <button class="w3-padding-large w3-button w3-hover-red" title="Wecode">WeCODE &#8628;</button>     </a>
      <div class="w3-dropdown-content w3-bar-block w3-card-4">
        <a href="#general" class="w3-bar-item w3-button">General</a>
        <a href="#experiences" class="w3-bar-item w3-button">Experiences</a>
        <a href="#pictures" class="w3-bar-item w3-button">Pictures</a>
      </div>
    </div>
    <img src="../static/images/chilli.png" style="float:right;margin:5px;width:37px;height:30px;">

    <a href="/logout" class="w3-padding-large w3-hover-red w3-hide-small w3-right w3-link"> Logout</a>
  </div>
</div>


{% block body %}

{% endblock %}
</body>
</html>