<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="../static/css/style2.css">
<link rel="stylesheet" href="../static/css/style1.css">
  <title>ChilliPeppers</title> 
<body style ="background-color: black;">
	

          <div class="w3-row-padding w3-red w3-round-xlarge" style="margin:2% 20% 9% 19%;padding:5%;">
        <form action='/register' method="POST">


            <div class="w3-half">
              <input class="w3-input w3-border" type="email" placeholder="Email" name="email" required>
            </div>
            <br>
            <br>
            <div class="w3-half">
              
              <input class="w3-input w3-border" type="password" placeholder="Password" name="Password"required>
            </div>
            <br>
            <br>
            <div class="w3-half">
              <input class="w3-input w3-border" type="first name" placeholder="First name" name="First name"required>
            </div>
 <br>
            <br>
            <div class="w3-half">
              <input class="w3-input w3-border" type="last name" placeholder="Last name" name="Last name"required>
            </div>

             <br>
            <br>
            <div class="w3-half">
              <input class="w3-input w3-border" type="user name" placeholder="Username" name="User name"required>
            </div>

             <br>
            <br>
            <div class="w3-half">
              <input class="w3-input w3-border" type="country" placeholder="Country" name="Country"required>
            </div>
<br> <br>
            <div class="w3-half">
              <input class="w3-input w3-border" type="url" placeholder="Personal website link" name="personalwebsite">
            </div>
            <br>
            <br>
            <div class="w3-half">
            <input type="radio" name="gender" value="male" checked> Male<br>
            <input type="radio" name="gender" value="female"> Female<br>
            <input type="radio" name="gender" value="other"> Other
          </div>
          <br>
          <br>
          <button class="w3-button w3-white w3-section w3-right" type="submit">Submit</button>
        </form>
</body>
</html>
<!-- TODO: implement register page
 -->
