{% extends "index.html" %}

{% block body %}

<br> <br> <br>
<center><h1>General</h1></center>
<font size="16">
<div style="width:99%;float:right"><h2> What is Code for Palestine "WeCODE"? </h2> </div>

<div style="width:98%;float:right"><h4> We code is a program  which aims to provide Palestinian students with a Smarter Future,and give the students a strong skill-set in programming, business, design thinking, leadership, team work, and entrepreneurial skills. Students will participate in the program for  three years. During each year, the program will include a two-week summer camp as well as year-long weekly sessions.  This year's summer camp includes students from all over Palestine including Gaza and instructors from Stanford University and a local CS instructor. In two weeks, students will learn different types of programming skills each year.   </h4></div> 
	<br> <br> <br>
<img src="../static/wecode.jpg" style="margin-top:13%;width:300px;height:300px;margin:40%;" class="w3-half"     
 class="w3-round" > 

<center><h1>Experiences</h1></center>

 	<div style="width:98%;float:right;"><h4> Nour : i had a lot of experience & knowledge after joining this program, it improved my english skills and afforded me confidence to speak infront of people , and be different than alot of students ,however "design thinking" helped me to be creative ,express my emotions , and discover my personality.</h4></div>

 	<div style="width:10%;float:left;padding-left:15px"><img src="../static/nour.jpg""width:300%;float:left;padding-left:15px" class="w3-circle w3-padding-32" ></div>

  









{% endblock %}





